@layer component {
	.text {
		max-width: var(--prose);
		font-size: var(--read);
		text-wrap: pretty;
		margin: 0 0 calc(1em * var(--leading) * var(--apart));
	}

	.text:last-child {
		margin-block-end: 0;
	}
}
